<div class="container">

{{product.title}}
<img class="product-list-view" src="{{product.image}}" alt="{{product.title}}" />
{{product.description}}<br>
${{product.cost}}.<br>

<button class="btn btn-default" {{action 'addToCart' product}}>Add to Cart</button>
<br><br><br>
</div>
